@charset "UTF-8";
html {
  -webkit-font-smoothing: antialiased; }

body {
  background-color: RGBA(241, 241, 241, 1); }

a {
  color: #111; }
  a:hover {
    color: RGBA(226, 107, 43, 1); }
  a.button {
    background-color: RGBA(226, 107, 43, 1); }
    a.button:hover {
      background-color: RGBA(82, 113, 136, 1); }

a.read {
  color: RGBA(82, 113, 136, 1) !important;
  display: block; }
  a.read:hover {
    color: #5F77EE !important; }

.prev-page {
  top: 620px; }

.next-page, .prev-page {
  right: 320px;
  position: fixed;
  padding: 0.8rem; }
  .next-page:hover, .prev-page:hover {
    background: #f1f1f1; }

.display {
  display: visible; }

.none {
  display: none; }

a.more {
  margin: 0 1.8rem 0.8rem 0;
  font-size: 13px;
  color: RGBA(0, 136, 204, 1); }
  a.more i {
    font-size: 8px; }
  a.more:hover {
    text-decoration: underline; }

i.mini {
  font-size: 11px; }

input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0; }
  input:focus {
    box-shadow: 0 0 0px #999999 !important;
    border-color: RGBA(226, 107, 43, 1) !important; }

.ads[role="billboard"] {
  width: 970px;
  height: 250px; }

.ads[role="large-leader"] {
  width: 728px;
  height: 90px; }

.ads[role="medium-leader"] {
  width: 468px;
  height: 60px;
  margin: 14px auto; }

.ads[role="large-rectangle"] {
  width: 336px;
  height: 280px; }

.ads[role="medium-rectangle"] {
  width: 300px;
  height: 250px;
  margin-top: 15px; }

.ads[role="sky-scrapper"] {
  width: 160px;
  height: 600px; }

.ads[role="larg-esky-scrapper"] {
  width: 300px;
  height: 600px; }

.footer-ad {
  margin: 20px auto;
  display: block; }

header ul, .content ul, .read-heading ul {
  list-style: none; }

header ul#main-nav {
  padding-left: 0;
  padding-top: 18px; }

#topbar {
  padding: 20px 0; }
  #topbar .ads {
    margin-top: 10px; }

#navbar {
  background-color: RGBA(255, 255, 255, 1);
  vertical-align: text-top; }

.top-bar-section .has-dropdown.not-click:hover > .dropdown {
  border: solid 1px RGBA(241, 241, 241, 1);
  border-top: none; }

a.logo {
  font-size: 1.4rem;
  color: RGBA(226, 107, 43, 1) !important;
  font-weight: 600 !important; }

.intro {
  background: url("http://genk2.vcmedia.vn/DlBlzccccccccccccE5CT3hqq3xN9o/Image/2013/03/wall_bkp-7a4ae.jpg") 0px -340px;
  opacity: 0.8;
  text-align: center;
  width: 100%;
  font-size: 2.4rem;
  font-weight: bold;
  height: 440px;
  padding: 20px;
  position: absolute;
  z-index: -9999;
  color: #ccc; }

.main {
  background-color: #fff;
  margin-top: 60px; }
  .main h2 {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    color: RGBA(226, 107, 43, 1);
    padding: 14px 0; }
    .main h2 span.tab > a {
      color: #ccc; }
      .main h2 span.tab > a:hover {
        color: #111; }
  .main h3.title {
    font-size: 1.2rem;
    padding: 7px;
    font-weight: 600;
    margin-bottom: 0; }

span.details {
  font-size: 0.8rem;
  padding: 1px 4px; }
  span.details:last-of-type:before {
    color: #666;
    content: "·";
    margin: 0 4px 0 -4px; }
  span.details a {
    color: #333; }
    span.details a:hover {
      color: RGBA(226, 107, 43, 1); }

p.description {
  font-size: 0.9rem;
  line-height: 1.4rem;
  color: RGBA(141, 154, 165, 1);
  padding-top: 7px; }

.categories ul {
  margin-left: 0px; }
.categories li {
  padding: 7px 0; }
.categories i {
  margin-right: 7px;
  color: RGBA(226, 107, 43, 1); }

footer {
  text-align: center;
  background: RGBA(212, 218, 223, 0.4);
  border-top: solid 2px RGBA(212, 218, 223, 1);
  color: RGBA(95, 109, 128, 1);
  padding: 30px; }
  footer .copy {
    margin-top: 20px; }
  footer span {
    display: block;
    line-height: 1.6rem; }

.sidebar .category-item {
  border-bottom: none; }

.mini-thumb {
  background: #fff;
  height: 80px;
  width: 60px;
  margin-right: 9px;
  float: left;
  margin-bottom: 7px;
  border: solid 1px #eee;
  padding: 2px; }

ol {
  counter-reset: li;
  margin-left: 0;
  padding-left: 0; }
  ol h3 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2rem;
    padding-top: 5px;
    margin: -4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
    ol h3 a {
      color: RGBA(82, 113, 136, 1); }
  ol span {
    font-size: 0.8rem;
    color: #aaa; }
    ol span a {
      color: #aaa; }

ol > li {
  position: relative;
  margin: 0 0 6px 2em;
  padding: 8px 12px;
  list-style: none;
  height: 100px; }

ol > li.top3:before {
  background: RGBA(226, 107, 43, 1);
  border-top: solid 2px #F1605A; }

ol > li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  top: 8px;
  left: -1.4em;
  box-sizing: border-box;
  padding: 2px 6px 4px 6px;
  border-top: 2px solid #666;
  color: #fff;
  background: #666;
  font-weight: bold;
  text-align: center;
  border-radius: 2px; }

li ol, li ul {
  margin-top: 6px; }

ol ol li:last-child {
  margin-bottom: 0; }

ol > li > h3 {
  margin: 0px auto; }

.read-heading {
  height: 60px;
  text-shadow: 1px 1px #fff; }
  .read-heading nav, .read-heading li.dschuong {
    position: relative;
    top: 14px; }
  .read-heading li.dschuong {
    top: 18px; }

.read-title {
  width: 70%;
  margin: 2rem auto;
  text-align: center; }

.read-banner {
  background: #fff; }
  .read-banner .ads {
    margin: 20px auto; }

#fic-list {
  margin-top: 14px; }

.fic-top {
  padding-left: 35px; }

ul.pagination li {
  height: 30px;
  margin-bottom: 0px;
  margin-top: 14px; }

.fic-list {
  padding-left: 21px;
  border-left: solid 1px #eee; }
  .fic-list h4 {
    font-weight: bold;
    color: RGBA(82, 113, 136, 1); }
  .fic-list li {
    overflow: hidden;
    padding-bottom: 4px;
    margin-bottom: 7px; }
  .fic-list a {
    float: right;
    display: block;
    position: relative;
    bottom: -4px;
    color: RGBA(58, 94, 119, 1); }
  .fic-list span {
    float: left;
    display: block;
    position: relative;
    bottom: -4px;
    padding: 0 2px 3px 0; }

#dschuong {
  list-style: none;
  background: #fff;
  padding: 21px;
  top: 0;
  left: -400px;
  opacity: 0;
  position: fixed;
  overflow-y: scroll;
  bottom: 0px;
  margin: 0;
  z-index: 999999;
  transition: all 0.3s ease-in-out; }
  #dschuong.display {
    left: 0px;
    opacity: 1; }
  #dschuong li {
    overflow: hidden;
    padding-bottom: 4px;
    margin-bottom: 7px; }
  #dschuong a {
    float: right;
    display: block;
    position: relative;
    bottom: -4px;
    color: RGBA(58, 94, 119, 1); }
  #dschuong span {
    float: left;
    display: block;
    position: relative;
    bottom: -4px;
    padding: 0 2px 3px 0; }

.text-wrap {
  background: #fff;
  color: RGBA(36, 36, 74, 1); }
  .text-wrap:hover {
    cursor: pointer; }

.text-content {
  display: block;
  margin: 0 auto;
  padding: 7px;
  width: 97%;
  padding: 0 13%; }
  .text-content p {
    line-height: 2.2rem;
    font-size: 1.4rem; }

.short-description p {
  font-family: georgia;
  color: RGBA(36, 36, 74, 1);
  font-size: 1.2rem;
  padding: 2rem;
  font-style: italic; }

.text-footer {
  height: 80px;
  text-align: center; }
  .text-footer ul {
    list-style: none;
    padding-left: 0; }
  .text-footer i {
    padding: 7px; }

.top-left ul {
  width: 160px; }

.top-left ul, .tag-left ul {
  margin-top: 20px;
  margin-left: 0px;
  background: #FDFDFD;
  border-top: solid 1px RGBA(226, 107, 43, 1);
  border-right: solid 1px #eee;
  border-left: solid 1px #eee; }
.top-left h2, .top-left h4, .tag-left h2, .tag-left h4 {
  font-size: 0.9rem;
  background: #fff;
  color: RGBA(226, 107, 43, 1);
  border-bottom: solid 1px #eee;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  box-shadow: 0px 2px 0 #FCFAFA; }
.top-left h4, .tag-left h4 {
  padding: 7px 0;
  font-size: 1rem; }
.top-left span, .tag-left span {
  background: #fff;
  padding: 0px 6px;
  margin: 0 4px;
  color: RGBA(82, 113, 136, 1);
  border-radius: 2px;
  font-weight: 700; }
.top-left li.item, .tag-left li.item {
  font-size: 0.8rem;
  padding: 7px 2px;
  padding-right: 8px;
  border-bottom: dashed 1px #eee;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.category-list {
  border-left: solid 1px #eee; }
  .category-list h2 {
    color: RGBA(82, 113, 136, 1);
    margin-left: 20px;
    border-bottom: solid 1px RGBA(82, 113, 136, 1);
    margin-top: 14px;
    margin-bottom: 21px; }
  .category-list .thumb {
    background: #fff;
    margin-right: 9px;
    float: left;
    margin-bottom: 7px;
    border: solid 1px #eee;
    padding: 2px; }
  .category-list li:first-child {
    margin-top: -14px; }
  .category-list li:last-child {
    margin-top: 14px; }

.category-item, .fic-item {
  display: block;
  width: 100%;
  float: left;
  border-bottom: dashed 1px #eee;
  padding-bottom: 14px;
  padding-top: 14px; }
  .category-item span, .fic-item span {
    display: block;
    font-size: 0.8rem;
    color: #aaa;
    line-height: 1.5rem;
    font-weight: bold; }
    .category-item span a, .fic-item span a {
      color: #aaa; }
      .category-item span a:hover, .fic-item span a:hover {
        color: #333; }
      .category-item span a.active, .fic-item span a.active {
        color: #333;
        font-weight: bold; }
  .category-item .read, .fic-item .read {
    font-size: 1rem;
    text-align: center;
    margin-top: 0.8rem; }
  .category-item h3, .fic-item h3 {
    font-size: 1.6rem;
    margin: 7px 0;
    font-weight: 700; }
    .category-item h3 a, .fic-item h3 a {
      color: RGBA(226, 107, 43, 1); }
      .category-item h3 a:hover, .fic-item h3 a:hover {
        color: #EE3322; }

.fic-item {
  margin-bottom: 14px; }

.category-item-description {
  color: #777; }
  .category-item-description p {
    font-size: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 60px; }

.fic-item {
  padding: 28px 0; }

.fic-item-details {
  margin-bottom: 14px; }
  .fic-item-details span {
    font-size: 1rem;
    color: #aaa; }
  .fic-item-details a {
    color: RGBA(82, 113, 136, 1) !important; }
    .fic-item-details a:hover {
      color: RGBA(226, 107, 43, 1) !important; }
  .fic-item-details i {
    padding-right: 7px; }

#more {
  display: none; }

.read-button {
  float: right; }
  .read-button a {
    color: RGBA(82, 113, 136, 1); }
    .read-button a:hover {
      color: RGBA(226, 107, 43, 1); }

.author-box {
  margin-top: 40px; }
  .author-box p {
    padding: 14px;
    color: #333;
    margin-bottom: 0px;
    font-size: 1rem; }
  .author-box h4 {
    font-weight: bold;
    color: RGBA(82, 113, 136, 1); }
  .author-box span {
    color: RGBA(226, 107, 43, 1);
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: bold; }

@media only screen and (max-width: 40em) {
  .ads {
    display: none; }

  .sticky-wrapper {
    display: none; }

  .short-description p {
    font-family: georgia;
    color: RGBA(36, 36, 74, 1);
    font-size: 1rem;
    padding: 2%;
    font-style: italic; }

  .text-content {
    padding: 0 0.6rem; }
    .text-content p {
      line-height: 1.8rem;
      font-size: 1.2rem; }

  .breadcrumbs {
    display: none; }

  .top-left ul {
    width: auto; }

  .category-list ul, .category-list h2 {
    margin-left: 0px; }
  .category-list h2 {
    margin-top: -20px; }
  .category-list .thumb {
    background: #fff;
    width: 100%;
    height: auto;
    margin-right: 9px;
    float: left;
    margin-bottom: 7px;
    border: solid 1px #eee;
    padding: 2px; }

  .author-box h4 {
    font-size: 1.6rem;
    font-weight: bold;
    color: RGBA(226, 107, 43, 1); } }
